:root {
    --primary-font-family: "Playfair Display", serif;
    --secondary-font-family: "Poppins", sans-serif;
    --secondary-color: #272142;
}

.logo {
    max-width: 150px;
    padding-bottom: 20px;
}

.header {
    text-decoration: none;
    margin-left: 10px;
    font-size: 16px;
    font-family: var(--secondary-font-family);
    color: var(--secondary-color);
    transition: 100ms;
    font-weight: 500;
}

.header-main {
    color: #6B62FF;
    text-decoration: none;
    margin-left: 10px;
    font-size: 16px;
    font-family: var(--secondary-font-family);
    font-weight: 500;
}

.nav-item {
    display: flex;
    align-items: center;
}

a:hover {
    color: #6B62FF;
}

li {
    padding: 5px;
}

.container-content{
    text-align: center;
    padding:180px;
    padding-bottom: 90px;
}


h1{
    font-size: 64px !important;
    line-height: 80px !important;
    font-family: var(--primary-font-family);
    font-weight: bold;
}

h3{
    font-size:24px;
    line-height: 1.5;
    font-family:var(--secondary-font-family);
    font-weight: bold;
}

p{
    color:#6c757d;
    font-size:14px;
    line-height: 30px;
}

.img-fluid{
    width:100%;
    height:auto;
}

footer {
    margin-top: 80px;
}

.container footer {
    background-color: #F9F7FD;
    padding: 5px 90px;
    border-radius: 4px;
}

.footer-section {
    background-color: #F9F7FD;
    padding: 5px 90px;
    border-radius: 4px;
}

.work {
    margin-left: 5px;
}


h4 {
    font-size: 48px;
    font-family: var(--primary-font-family);
    font-weight: bold;
    line-height: 65px;
}

.p-footer {
    font-family: var(--secondary-font-family);
    color: #6c757d;
    font-size: 16px;
    line-height: 35px;
}

.btn.btn-primary.footer {
    background-color: #6B62FF;
    border-radius: 4px;
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px;
    font-weight: 600;
    margin-right: 5px;
}

.btn.btn-primary.footer:hover {
    color: #272142;
}

.contact-email {
    font-family: var(--secondary-font-family);
    font-weight: 500;
    line-height: 1.5;
    font-size: 24px;
    text-decoration: none;
    color: #272142;
}

.fa-brands {
    padding: 20px;
    margin: 0 20px;
    color: #6B62FF;
    background-color: #F9F7FD;
    font-size: 18px;
    border-radius: 50%;
}

.fa-brands:hover {
    cursor: pointer;
    color: #F9F7FD;
    background-color: #6B62FF;
    transition: 100ms;
}

.ending {
    font-size: 16px;
    line-height: 30px;
    font-family: var(--secondary-font-family);

}

@media (max-width:1000px) {

.logo {
        max-width: 110px;
    }

    .header {
        margin-left: 8px;
        font-size: 12px;
    }

    .header-main {
        font-size: 13px;
        padding: 5px;
        line-height: 15px;
    }
    .work,
    .container footer {
        padding: 18px;
        text-align: left;
    }

    .ending {
        font-size: 10px;
    }

    h4 {
        font-size: 30px;
    }

    .p-footer {
        font-size: 12px;
    }

    .btn.btn-primary.footer {
        font-size: 13px;
        text-align: center;
        line-height: 20px;
        padding: 10px 20px;
        font-weight: 600;
        margin-top: 30px;
    }
}





