:root {
    --primary-font-family: "Playfair Display", serif;
    --secondary-font-family: "Poppins", sans-serif;
    --secondary-color: #272142;
}

.container-content{
    text-align: center;
    padding:180px;
}


h1{
    font-size: 64px !important;
    line-height: 80px !important;
    font-family: var(--primary-font-family);
    font-weight: bold;
}

h3{
    font-size:24px;
    line-height: 1.5;
    font-family:var(--secondary-font-family);
    font-weight: bold;
}

p{
    color:#6c757d;
    font-size:14px;
    line-height: 30px;
}

.img-fluid{
    width:100%;
    height:auto;
}

