:root {
    --primary-font-family: "Playfair Display", serif;
    --secondary-font-family: "Poppins", sans-serif;
    --secondary-color: #272142;
}

.logo {
    max-width: 150px;
    padding-bottom: 20px;
}

.header {
    text-decoration: none;
    margin-left: 10px;
    font-size: 16px;
    font-family: var(--secondary-font-family);
    color: var(--secondary-color);
    transition: 100ms;
    font-weight: 500;
}

.header-main {
    color: #6B62FF;
    text-decoration: none;
    margin-left: 10px;
    font-size: 16px;
    font-family: var(--secondary-font-family);
    font-weight: 500;
}

.nav-item {
    display: flex;
    align-items: center;
}

a:hover {
    color: #6B62FF;
}

li {
    padding: 5px;
}

.container-content{
    text-align: center;
    padding:180px;
}


h1{
    font-size: 64px !important;
    line-height: 80px !important;
    font-family: var(--primary-font-family);
    font-weight: bold;
}

h3{
    font-size:24px;
    line-height: 1.5;
    font-family:var(--secondary-font-family);
    font-weight: bold;
}

p{
    color:#6c757d;
    font-size:14px;
    line-height: 30px;
}

.img-fluid{
    width:100%;
    height:auto;
}

@media (max-width:1000px) {

.logo {
        max-width: 110px;
    }

    .header {
        margin-left: 8px;
        font-size: 12px;
    }

    .header-main {
        font-size: 13px;
        padding: 5px;
        line-height: 15px;
    }

    .work,
    .container footer {
        display: none;
    }
}




